.title-cards{
    margin-top: 50px;
    margin-bottom: 30px;
    color: #fff;
}
.title-cards h2{
    margin-bottom: 8px;
}
.card-list{
    display: flex;
    gap: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-bottom: 8px;
}
.card-list::-webkit-scrollbar{
    display: none;
}
.card-list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    height: auto;
    object-fit: cover;
}
.card-list .card{
    position: relative;
    flex: 0 0 auto; 
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 240px;
}
.card-list .card p{
    position: absolute;
    bottom: 10px;
    right: 10px; 
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    text-shadow: 0 1px, 3px rgba(0,0,0,0.8);

}

.title-cards, .card-list {
  position: relative;
  z-index: 0;  
}

@media (max-width: 800px) {
    .title-cards {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .title-cards h2{
        font-size: 20px;
    }
    .card-list img {
        width: 200px;
    }
    .card-list p{
        font-size: 12px;
    }
}

@media (max-width: 500px) {
  
    .title-cards h2{
        font-size: 15px;
    }
    .card-list img {
        width: 165px;
    }
    .card-list p{
        font-size: 10px;
    }
}



