.player {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #000;
}

.player img {
    position: absolute;
    top: 20px; 
    left: 20px;
    width: 50px;
    cursor: pointer;
    z-index: 10;
}

.player iframe {
    border-radius: 10px;
    display: block;
    width: 90%;
    height: 90%;
    border: 0;
    margin: 0 auto;
    z-index: 1;
}

.player-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: #fff;
    margin-top: 12px;
}

